# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Output folder (слишком большой для GitHub)
output/

# OS
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
out.log
